<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="activeIndex" required="true"/>
</composite:interface>

<composite:implementation>

    <h:form>
        <div style="text-align: center;">
            <p:steps style="display: inline-block;" activeIndex="#{cc.attrs.activeIndex}">
                <p:menuitem value="Выбор клиента"/>
                <p:menuitem value="Выбор услуги"/>
                <p:menuitem value="Создание позиции"/>
                <p:menuitem value="Содание заказа"/>
            </p:steps>
        </div>
    </h:form>

</composite:implementation>

</html>