<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="target" required="true"/>
    <composite:attribute name="trigger" required="true"/>
    <composite:attribute name="widgetVar"/>
</composite:interface>

<composite:implementation>

    <p:blockUI block="#{cc.attrs.target}" trigger="#{cc.attrs.trigger}" widgetVar="#{cc.attrs.widgetVar}">
        <p:graphicImage library="images" name="ajaxloader/gray.gif"/>
    </p:blockUI>

</composite:implementation>

</html>