<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="update" required="true"/>
    <composite:attribute name="onComplete"/>
    <composite:attribute name="deleteButton" type="java.lang.Boolean" default="false"/>
    <composite:attribute name="selection" required="true"/>
</composite:interface>

<composite:implementation>

    <h:form styleClass="clientTableForm" onkeypress="if(event.keyCode == 13){event.preventDefault();}">

        <p:dataTable id="clientTable"
                     styleClass="clientTable"
                     reflow="true"
                     widgetVar="clientTable"
                     var="client"
                     value="#{clientSearchMB.lazyDataModel}"
                     rows="20"
                     selection="#{cc.attrs.selection}"
                     selectionMode="single"
                     rowKey="#{client.id}"
                     rowSelectMode=""
                     paginator="true"
                     paginatorPosition="bottom"
                     paginatorAlwaysVisible="false"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     currentPageReportTemplate="количество клиентов: {totalRecords}"
                     rowsPerPageTemplate="20,50,100"
                     rowsPerPageLabel="показывать по"
                     lazy="true"
                     emptyMessage="Список клиентов пуст">

            <p:ajax event="rowSelect"
                    update="#{cc.attrs.update}"
                    process="@this"
                    partialSubmit="true"
                    oncomplete="#{cc.attrs.onComplete}"/>

            <p:column headerText="Имя" sortBy="#{client.name}" filterBy="#{client.name}" filterMatchMode="contains">
                #{client.name}
            </p:column>

            <p:column headerText="Телефон (моб.)">
                #{client.mobileFirst}
            </p:column>

            <p:column headerText="Телефон">
                #{client.phoneFirst}
            </p:column>

            <p:column headerText="Количество заказов" sortBy="#{client.ordersCount}">
                #{client.ordersCount}
            </p:column>

            <p:column headerText="Email" sortBy="#{client.email}" filterBy="#{client.email}" id="email">
                #{client.email}
            </p:column>

            <p:column styleClass="transparentButton" width="55" rendered="#{cc.attrs.deleteButton}">
                <p:commandButton value="Удалить"
                                 oncomplete="PF('confirmClientDelete').show();"
                                 process="@this"
                                 partialSubmit="true">
                    <f:setPropertyActionListener value="#{client}" target="#{clientMB.client}"/>
                </p:commandButton>
            </p:column>
        </p:dataTable>
    </h:form>

</composite:implementation>


</html>