<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="columns" default="2"/>
    <composite:attribute name="width" default="75%"/>
</composite:interface>

<composite:implementation>

    <h:panelGrid columns="#{cc.attrs.columns}" width="#{cc.attrs.width}" cellpadding="5" columnClasses="myColumn">

        <composite:insertChildren/>

    </h:panelGrid>

</composite:implementation>

</html>