html {
    padding: 0;
    margin: 0;
    width: 100% !important;
    height: 100% !important;
}

body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    width: 100% !important;
    height: 100% !important;
}

:-webkit-full-screen {
    background: white;
}

:-moz-full-screen {
    background: white;
}

.ui-paginator {
    font-weight: normal !important;
}

.ui-growl {
    z-index: 999999 !important;
}

th.transparentButton {
    text-align: center !important;
}

td.transparentButton {
    margin: 0 !important;
    padding: 0 0 0 0 !important;
    text-align: center !important;
}

.transparentButton button {
    border: 0 !important;
    background: none !important;
    font-weight: normal !important;
    white-space: nowrap !important;
}

td.transparentButton button span {
    padding: 0 !important;
    margin: 0 5px 0 5px !important;
    text-decoration: none !important;
    border-bottom: 1px #2779AA dotted !important;
}

td.transparentButton button:hover span {
    border-bottom-color: transparent !important;
}

.transparentButton.ui-state-active {
    display: none !important;
}

.alignTop td:first-child {
    vertical-align: top !important;
    padding-top: 5px !important;
}

.ui-wizard-step-title {
    font-size: 12px !important;
    font-weight: normal !important;
    border: none !important;
}

.ui-toolbar {
    border: none !important;
}

.formControls {
    text-align: right !important;
    padding: 5px !important;
    padding-right: 0 !important;
}

.formControlsBottom {
    position: absolute !important;
    bottom: 15px !important;
    right: 15px !important;
}

.formControls > button, .formControlsBottom > button {
    margin-left: 5px !important;
}

.ui-datatable-header, .ui-datatable-summaryrow {
    color: #2779AA !important;
}

.ui-datatable-footer {
    font-weight: normal !important;
    color: #2779AA !important;
}

.hide-columns table thead tr {
    display: none;
}

.ui-datatable-footer {
    text-align: left !important;
}

span.ui-inplace.ui-hidden-container {
    text-decoration: none !important;
    border-bottom: 1px dotted !important;
}

.ui-paginator-rpp-options, .ui-progressbar-label {
    font-weight: normal !important;
}

.ui-paginator-rpp-label {
    padding-left: 10px !important;
}

.firstColumn {
    width: 100% !important;
}

.secondColumn {
}

.ui-dialog .ui-datatable {
    width: 972px !important;
}

.ui-outputpanel-loading {
    background: url("#{resource['images:ajaxloader/gray.gif']}") center center no-repeat !important;
    width: 97px !important;
    height: 11px !important;
    position: fixed !important;
    margin-top: -6px;
    margin-left: -48px;
    top: 50% !important;
    left: 50% !important;
}

.imageLink {
    text-decoration: none;
    cursor: default;
}

.required {
    float: left;
}

.help {
    width: 16px;
    height: 16px;
    background: url("#{resource['primefaces-cupertino:images/ui-icons_72a7cf_256x240.png']}") -16px -144px;
    float: left;
    margin-left: 3px;
}

.hideHeader table thead tr {
    display: none;
}

.centeredColumn {
    text-align: center !important;
}

.top td {
    vertical-align: top;
}

.top {
    vertical-align: top !important;
}

.width50pc {
    width: 50%;
}

label.error {
    color: #f00;
}

input.error, select.error, textarea.error {
    background-color: #fee;
}

.myColumn {
    width: 200px !important;
}

/*
.ui-state-highlight {
  background: #F9F9F9 !important;
  border-color: inherit !important;
}
*/

.ui-fieldset-legend {
    background: transparent !important;
    border: none !important;
    font-weight: normal !important;
    color: #362b36 !important;
}

.searchLabels {
    text-align: left;
    margin: 4px;
}

.searchLabels span {
    font-weight: normal;
}

.searchLabels button {
    margin-right: 4px;
}

.leftMenuAccordion h3:first-child {
    margin-top: 0;
}

.ui-corner-bottom, .leftMenuAccordion h3, .ui-panel.ui-corner-all {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.orderPanel, .orderItemPanel, .orderHistoryPanel, .orderItemHistoryPanel {
    border-top: none;
}

.noRoundCorners {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui-breadcrumb {
    font-weight: normal;
}

.ui-breadcrumb > ul > li:last-child > a {
    text-decoration: none;
}

h3 {
    margin-left: 4px;
}

.ui-selectonemenu {
    width: 160px !important;
}

.ui-selectonemenu-label {
    width: 150px !important;
}

.ui-steps-item {
    width: 268px !important;
}

.ui-panel-content {
    text-align: center !important;
    padding: 30px !important;
}