<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="serviceEnum" required="true" type="com.iozee.printadmin.enums.ServiceEnum"/>
</composite:interface>

<composite:implementation>

    <p:commandButton value="#{cc.attrs.serviceEnum.name}"
                     icon="ui-icon-close"
                     iconPos="right"
                     partialSubmit="true"
                     process="@this"
                     update="@(.orderSearchForm) @(.orderTableForm)"
                     onstart="PF('orderListBlock').show()"
                     oncomplete="PF('orderListBlock').hide()"
                     rendered="#{orderSearchMB.containsService(cc.attrs.serviceEnum)}">
        <f:actionListener binding="#{orderSearchMB.removeService(cc.attrs.serviceEnum)}"/>
    </p:commandButton>

</composite:implementation>

</html>