<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="label" required="true"/>
    <composite:attribute name="clearField"/>
</composite:interface>

<composite:implementation>

    <p:commandButton value="#{cc.attrs.label}"
                     icon="ui-icon-close"
                     iconPos="right"
                     partialSubmit="true"
                     process="@this"
                     update="@(.orderSearchForm) @(.orderTableForm)"
                     onstart="PF('orderListBlock').show()"
                     oncomplete="PF('orderListBlock').hide()"
                     styleClass="orderSearchLabel">

        <c:if test="#{not empty cc.attrs.clearField}">
            <f:setPropertyActionListener value="#{null}" target="#{cc.attrs.clearField}"/>
        </c:if>

    </p:commandButton>

</composite:implementation>

</html>