<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:io="http://java.sun.com/jsf/composite/iozee"
        xmlns:ioStep="http://java.sun.com/jsf/composite/iozee/steps"
>

    <p:outputPanel rendered="#{orderCreationMB.orderWizardStep == 2}">

        <h:form id="addOrderStep2">
            <io:table>

                <f:facet name="left">

                    <ioStep:orderCreationStep activeIndex="1"/>

                </f:facet>

                <f:facet name="center">

                    <p:dataGrid value="#{serviceMB.allServices}"
                                var="service"
                                columns="4">
                        <p:panel>
                            <p:commandButton value="#{service.name}"
                                             action="#{orderCreationMB.wizardStep3(service)}"
                                             oncomplete="hideError(); myShow('addOrderPanel');"
                                             update=":addOrderPanel"/>
                        </p:panel>
                    </p:dataGrid>

                    <div class="formControlsBottom">

                        <p:commandButton value="Отмена"
                                         type="button"
                                         rendered="#{orderCreationMB.isOrderEmpty()}"
                                         icon="ui-icon-close"
                                         iconPos="right"
                                         onclick="jQuery('#addOrderPanel').hide();
                                         myShow('orderListLayout');
                                         formEdited = false;"/>

                        <p:commandButton value="Отмена"
                                         icon="fa fa-close"
                                         iconPos="right"
                                         rendered="#{not orderCreationMB.isOrderEmpty()}"
                                         process="@this"
                                         partialSubmit="true"
                                         immediate="true"
                                         update=":addOrderPanel"
                                         action="#{orderCreationMB.cancelItemAddition}"/>
                    </div>


                </f:facet>


            </io:table>
        </h:form>
    </p:outputPanel>

</ui:composition>