<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:io="http://java.sun.com/jsf/composite/iozee"
        xmlns:ioStep="http://java.sun.com/jsf/composite/iozee/steps"
>

    <p:outputPanel rendered="#{orderCreationMB.orderWizardStep == 1}">

        <io:table>

            <f:facet name="left">
                <ioStep:orderCreationStep activeIndex="0"/>
            </f:facet>

            <f:facet name="center">

                <h:form>
                    <p:autoComplete forceSelection="true"
                                    value="#{orderCreationMB.client}"
                                    completeMethod="#{clientSearchMB.completeClientByName}"
                                    converter="#{clientConverter}"
                                    var="client"
                                    itemLabel="#{client}"
                                    itemValue="#{client}">
                        <p:ajax event="itemSelect" listener="#{clientSearchMB.onClientSelect}"/>
                    </p:autoComplete>
                </h:form>

                <h:form>
                    <p:toolbar>
                        <f:facet name="left">
                            <h:form>
                                <p:commandButton type="button" value="Создать клиента" icon="fa fa-plus"/>
                                <p:commandButton type="button" value="Расширенный поиск" icon="fa fa-search"/>
                            </h:form>
                        </f:facet>
                    </p:toolbar>

                    <p:outputPanel style="padding: 10px">

                        <h:panelGrid columns="2">
                            Имя


                        </h:panelGrid>

                    </p:outputPanel>

                </h:form>

                <io:clientsTable update=":addOrderPanel" selection="#{orderCreationMB.order.client}"
                                 onComplete="myShow('addOrderPanel');" rendered="false"/>


            </f:facet>

        </io:table>

    </p:outputPanel>

    <script>
        // ломает автокомплит
        //jQuery(".completeClientByPhone > input").mask("+7 (999) 999-9999");
        jQuery(".completeClientByPhone > input").inputmask("mask", {"mask": "+7 (999) 999-9999"});
    </script>

</ui:composition>