<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ioStep="http://java.sun.com/jsf/composite/iozee/steps"
>

    <p:outputPanel rendered="#{orderCreationMB.orderWizardStep == 4}">

        <h:form id="addOrderStep4">

            <ioStep:orderCreationStep activeIndex="3"/>

            <h:panelGrid columns="2" columnClasses="myColumn">
                Клиент
                <h:outputText value="#{orderCreationMB.order.client.name}"/>
            </h:panelGrid>

            <br/>

            <p:dataTable value="#{orderCreationMB.orderItemList}"
                         reflow="true"
                         emptyMessage="Позиций не добавлено"
                         var="orderItem"
                         id="step3OrderItems"
                         sortBy="#{orderItem.order.id}">

                <p:column headerText="Наименование">
                    #{orderItem.service.name}
                </p:column>

                <p:column headerText="Количество">
                    #{orderItem.amount}
                </p:column>

                <p:column headerText="Стоимость">
                    <h:outputText value="#{orderItem.cost}">
                        <f:convertNumber type="currency" currencySymbol="р."/>
                    </h:outputText>
                </p:column>

                <p:column styleClass="transparentButton">
                    <p:commandLink value="Удалить"
                                   action="#{orderCreationMB.deleteOrderItem}"
                                   partialSubmit="true"
                                   process="@this"
                                   update=":addOrderStep4">

                    </p:commandLink>
                </p:column>

                <p:summaryRow rendered="#{not orderCreationMB.isOrderEmpty()}">
                    <p:column style="border-right: none">
                        #{commonMB.getWordForm(orderCreationMB.orderItemList.size(), "позиция", "позиции", "позиций")}
                    </p:column>
                    <p:column style="text-align: right; border-left: none; border-right: none">
                        Итого:
                    </p:column>
                    <p:column colspan="2" style="border-left: none">
                        <h:outputText value="#{orderCreationMB.totalOrderCost}">
                            <f:convertNumber type="currency" currencySymbol="р."/>
                        </h:outputText>
                    </p:column>
                </p:summaryRow>

            </p:dataTable>

            <div class="formControlsBottom">
                <p:commandButton value="Добавить позицию"
                                 action="#{orderCreationMB.wizardStep1}"
                                 update=":addOrderPanel"
                                 icon="fa fa-plus"/>

                <p:commandButton value="Оформить заказ"
                                 action="#{orderCreationMB.createOrder}"
                                 disabled="#{empty orderCreationMB.orderItemList}"
                                 title="#{empty orderCreationMB.orderItemList ? 'Необходимо добавить позиции к заказу' : ''}"
                                 update="@(.orderTableForm)"
                                 icon="fa fa-plus-circle"/>

                <p:commandButton value="Отмена"
                                 type="button"
                                 icon="fa fa-close"
                                 onclick="PF('addOrderDialog').hide();
                                         formEdited = false;"
                                 iconPos="right"/>
            </div>

        </h:form>
    </p:outputPanel>

</ui:composition>