<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:io="http://java.sun.com/jsf/composite/iozee"
        xmlns:ioStep="http://java.sun.com/jsf/composite/iozee/steps"
        xmlns:o="http://omnifaces.org/ui">

    <o:importConstants type="com.iozee.printadmin.enums.ServiceEnum"/>

    <p:outputPanel rendered="#{orderCreationMB.orderWizardStep == 3}">

        <h:form id="orderItemAddForm">

            <io:table>

                <f:facet name="left">
                    <ioStep:orderCreationStep activeIndex="2"/>
                </f:facet>

                <f:facet name="center">

                    <table style="width: 100%" class="top">
                        <tr>
                            <td align="left">

                                <ui:include src="../attributesByService.xhtml"/>

                            </td>
                            <td align="center" width="300">
                                <h2>Сумма, р.</h2>
                                <p:inputNumber
                                        value="#{orderCreationMB.orderItem.cost}"
                                        minValue="0"
                                        label="Сумма"
                                        decimalPlaces="2"
                                        required="true"/>
                            </td>
                        </tr>
                    </table>

                    <div class="formControls">

                        <p:commandButton value="Проверить и создать заказ"
                                         rendered="#{orderCreationMB.order.id eq 0}"
                                         icon="fa fa-check"
                                         update=":addOrderPanel"
                                         action="#{orderCreationMB.orderCheckout}"/>

                        <p:commandButton value="Добавить позицию к заказу"
                                         rendered="#{orderCreationMB.order.id ne 0}"
                                         icon="fa fa-check"
                                         update="@(.orderPanel) @(.orderTableForm)"
                                         action="#{orderCreationMB.addOrderItem}"/>

                        <p:commandButton value="Отмена"
                                         rendered="#{orderCreationMB.isOrderEmpty()}"
                                         type="button"
                                         icon="fa fa-close"
                                         iconPos="right"
                                         onclick="jQuery('#addOrderPanel').hide();
                                         myShow('orderListLayout');
                                         formEdited = false;"/>

                        <p:commandButton value="Отмена"
                                         icon="fa fa-close"
                                         iconPos="right"
                                         rendered="#{not orderCreationMB.isOrderEmpty()}"
                                         process="@this"
                                         partialSubmit="true"
                                         immediate="true"
                                         update=":addOrderPanel"
                                         action="#{orderCreationMB.cancelItemAddition}"/>

                    </div>


                </f:facet>
            </io:table>

        </h:form>

    </p:outputPanel>
</ui:composition>