<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:sec="http://iozee.ru/spring/security/tags">
    <h:form>
        <p:menubar>
            <p:menuitem value="Главная" icon="ui-icon-home"/>
            <p:menuitem value="Клиенты" icon="ui-icon-person"
                        action="#{panelManagerMB.showPanel('clientsPanel', ':clientTableForm:clientTable')}"/>
            <p:menuitem value="Заказы" icon="ui-icon-cart"
                        action="#{panelManagerMB.showPanel('ordersPanel', ':orderTableForm:orderTable')}"/>
            <p:menuitem value="Услуги" icon="ui-icon-suitcase"
                        action="#{panelManagerMB.showPanel('servicesPanel', ':serviceTableForm:serviceTable')}"/>
            <p:menuitem value="Сотрудники" icon="ui-icon-person"/>
            <p:menuitem value="Оборудование" icon="ui-icon-print"/>
            <p:menuitem value="Выйти" url="j_spring_security_logout" icon="ui-icon-power"
                        rendered="#{sec:isAuthorized()}"/>
        </p:menubar>
    </h:form>
</ui:composition>