<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
>


    <h:panelGrid columns="2" width="100%" columnClasses="myColumn" rendered="#{attribute.code eq ''}">

        <h:outputText value=""/>

    </h:panelGrid>


</ui:composition>