<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:io="http://java.sun.com/jsf/composite/iozee"
>

    <io:panelGrid>

        <h:outputText value="Тираж *"/>

        <p:inputNumber value="#{orderCreationMB.orderItem.amount}"
                       decimalPlaces="0"
                       label="Тираж"
                       required="true"/>

    </io:panelGrid>

</ui:composition>