<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:io="http://java.sun.com/jsf/composite/iozee"
>


    <io:panelGrid>

        <h:outputText value="Формат, мм. *"/>

        <p:outputPanel>
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td style="text-align: right">
                        <p:inputNumber value="#{orderCreationMB.orderItem.width}"
                                       required="true"
                                       decimalPlaces="0"
                                       label="Формат: ширина"/>
                    </td>
                    <td style="width:20px; text-align: center; vertical-align: middle;">
                        X
                    </td>
                    <td>
                        <p:inputNumber value="#{orderCreationMB.orderItem.height}"
                                       required="true"
                                       decimalPlaces="0"
                                       label="Формат: высота"/>
                    </td>
                </tr>
            </table>
        </p:outputPanel>

    </io:panelGrid>


</ui:composition>