<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:io="http://java.sun.com/jsf/composite/iozee"
>

    <io:panelGrid>

        <h:outputText value="Материал *"/>

        <p:selectOneMenu value="#{link}"
                         label="#{title}"
                         converter="#{materialConverter}"
                         required="true">
            <f:selectItem itemLabel="" itemValue=""/>
            <f:selectItems value="#{orderCreationMB.allMaterials}"/>
        </p:selectOneMenu>

    </io:panelGrid>

</ui:composition>