<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:io="http://java.sun.com/jsf/composite/iozee"
>

    <io:panelGrid>

        <h:outputText value="Количество страниц *"/>

        <p:inputNumber id="pageCount"
                       decimalPlaces="0"
                       required="true"
                       label="Количество страниц"
                       value="#{orderCreationMB.orderItem.pageCount}"/>

    </io:panelGrid>

</ui:composition>