<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>


    <p:outputPanel id="addOrderPanel" style="display: none">

        <!-- wizard steps -->
        <ui:include src="includes/creationWizard/step1.xhtml"/>
        <ui:include src="includes/creationWizard/step2.xhtml"/>
        <ui:include src="includes/creationWizard/step3.xhtml"/>
        <ui:include src="includes/creationWizard/step4.xhtml"/>

    </p:outputPanel>


    <!--
    <p:dock position="bottom" itemWidth="38" maxWidth="38">
        <p:menuitem value="Home" icon="/resources/images/home.png" url="#" style="z-index: 9999 !important;"/>
        <p:menuitem value="Music" icon="/resources/images/home.png" url="#" style="z-index: 9999 !important;"/>
    </p:dock>
    -->
</ui:composition>