<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:sec="http://iozee.ru/spring/security/tags"
>

    <h:form rendered="#{sec:isManager()}"
            id="confirmOrderDeleteForm">
        <p:confirmDialog
                header="Удалить заказ номер #{orderCreationMB.order.orderId}"
                message="Вы уверены?"
                widgetVar="confirmOrderDelete"
                width="250">
            <div class="formControls">
                <p:commandButton action="#{orderCreationMB.deleteOrder}"
                                 process="@this"
                                 partialSubmit="true"

                                 value="Да"
                                 styleClass="ui-confirmdialog-yes"
                                 icon="ui-icon-check"
                                 oncomplete="PF('confirmOrderDelete').hide();"/>
                <p:commandButton value="Нет"
                                 type="button"
                                 styleClass="ui-confirmdialog-no"
                                 icon="ui-icon-close"
                                 onclick="PF('confirmOrderDelete').hide();"/>
            </div>
        </p:confirmDialog>
    </h:form>

</ui:composition>