<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:sec="http://iozee.ru/spring/security/tags"
>

    <h:form rendered="#{sec:isManager()}"
            id="confirmOrderItemDelete">
        <p:confirmDialog header="Удалить позицию из заказа #{orderCreationMB.order.orderId}"
                         message="#{'Удаление позиции '.concat(orderCreationMB.orderItem.service.name).concat('. Вы уверены?')}"
                         widgetVar="confirmOrderItemDelete">
            <div class="formControls">
                <p:commandButton action="#{orderCreationMB.deleteOrderItem}"
                                 process="@this"
                                 partialSubmit="true"
                                 update="@(.orderPanel)"
                                 value="Да"
                                 icon="ui-icon-check"
                                 oncomplete="PF('confirmOrderItemDelete').hide();"/>
                <p:commandButton value="Нет"
                                 type="button"
                                 icon="ui-icon-close"
                                 onclick="PF('confirmOrderItemDelete').hide();"/>
            </div>
        </p:confirmDialog>
    </h:form>

</ui:composition>