<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:myLabel="http://java.sun.com/jsf/composite/iozee/searchLabels"
        xmlns:o="http://omnifaces.org/ui"
>

    <o:importConstants type="com.iozee.printadmin.enums.ServiceEnum"/>

    <myLabel:orderSearchLabel label="Номер заказа содержит #{orderSearchMB.orderCriteria.orderId}"
                              clearField="#{orderSearchMB.orderCriteria.orderId}"
                              rendered="#{not empty orderSearchMB.orderCriteria.orderId}"/>

    <myLabel:orderSearchLabel label="Клиент #{orderSearchMB.orderCriteria.client.name}"
                              clearField="#{orderSearchMB.orderCriteria.client}"
                              rendered="#{not empty orderSearchMB.orderCriteria.client}"/>

    <myLabel:orderSearchLabel
            label="Дата создания с #{orderSearchMB.convertDate(orderSearchMB.orderCriteria.startDate)}"
            clearField="#{orderSearchMB.orderCriteria.startDate}"
            rendered="#{not empty orderSearchMB.orderCriteria.startDate}"/>

    <myLabel:orderSearchLabel label="Дата создания по #{orderSearchMB.convertDate(orderSearchMB.orderCriteria.endDate)}"
                              clearField="#{orderSearchMB.orderCriteria.endDate}"
                              rendered="#{not empty orderSearchMB.orderCriteria.endDate}"/>

    <myLabel:orderSearchLabel label="Сумма от #{orderSearchMB.orderCriteria.costFrom}"
                              clearField="#{orderSearchMB.orderCriteria.costFrom}"
                              rendered="#{not empty orderSearchMB.orderCriteria.costFrom}"/>

    <myLabel:orderSearchLabel label="Сумма до #{orderSearchMB.orderCriteria.costTo}"
                              clearField="#{orderSearchMB.orderCriteria.costTo}"
                              rendered="#{not empty orderSearchMB.orderCriteria.costTo}"/>

    <myLabel:orderSearchLabel label="Статус #{orderSearchMB.orderCriteria.status.name}"
                              clearField="#{orderSearchMB.orderCriteria.status}"
                              rendered="#{not empty orderSearchMB.orderCriteria.status}"/>

    <myLabel:orderSearchByServiceLabel serviceEnum="#{ServiceEnum.NOTEBOOK}"/>

    <myLabel:orderSearchByServiceLabel serviceEnum="#{ServiceEnum.BANNER}"/>

    <myLabel:orderSearchByServiceLabel serviceEnum="#{ServiceEnum.VISITING_CARD}"/>

    <myLabel:orderSearchByServiceLabel serviceEnum="#{ServiceEnum.BROCHURE}"/>

    <myLabel:orderSearchByServiceLabel serviceEnum="#{ServiceEnum.LEAFLET}"/>

    <myLabel:orderSearchByServiceLabel serviceEnum="#{ServiceEnum.BOOKLET}"/>

    <myLabel:orderSearchByServiceLabel serviceEnum="#{ServiceEnum.CALENDAR}"/>

    <myLabel:orderSearchByServiceLabel serviceEnum="#{ServiceEnum.STICKER}"/>

</ui:composition>