<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>

    <h:form id="ordersHistoryForm">

        <p:dialog header="История заказов"
                  widgetVar="orderHistoryDialog"
                  modal="true"
                  resizable="false"
                  dynamic="true">

            <p:timeline value="#{orderCreationMB.allOrdersTimeline}"
                        width="1000px"
                        height="400px"
                        selectable="true"
                        zoomable="true"
                        moveable="true"
                        stackEvents="true"
                        axisOnTop="true"
                        eventStyle="box"
                        showCurrentTime="true"
                        showNavigation="false"
                        locale="ru">
                <p:ajax event="select"
                        listener="#{orderCreationMB.onHistoryEntrySelect}"
                        oncomplete="PF('orderDialog').show();"
                        update=":orderForm"
                        process="@form"/>
            </p:timeline>

        </p:dialog>

    </h:form>

</ui:composition>