<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:o="http://omnifaces.org/ui"
        xmlns:of="http://omnifaces.org/functions"
        xmlns:sec="http://iozee.ru/spring/security/tags"
        xmlns:io="http://java.sun.com/jsf/composite/iozee"
>

    <o:importConstants type="com.iozee.printadmin.enums.OrderStatusEnum"/>

    <io:blockUI target=":orderListLayout"
                trigger="@(.addOrderButton)
                        @(.orderTable)
                        @(.orderHistoryButton)
                        @(.orderSearchRunButton)
                        @(.orderSearchResetButton)"
                widgetVar="orderListBlock"/>

    <io:table id="orderListLayout">

        <f:facet name="left">

            <p:accordionPanel prependId="false" styleClass="leftMenuAccordion" widgetVar="orderMenuAccordion">

                <p:tab title="Действия">

                    <h:form id="orderMenuForm" prependId="false">

                        <p:commandLink value="Создать заказ"
                                       action="#{orderCreationMB.initForOrderCreation}"
                                       update=":addOrderPanel"
                                       process="@this"
                                       partialSubmit="true"
                                       ajax="true"
                                       rendered="#{sec:isManager()}"
                                       oncomplete="hideError(); jQuery('#orderListLayout').hide(); myShow('addOrderPanel');"
                                       icon="ui-icon-circle-plus"
                                       id="addOrderButton"
                                       styleClass="addOrderButton"/>

                        <br/>
                        <br/>

                        <p:commandLink ajax="true"
                                       value="История заказов"
                                       id="orderHistoryButton"
                                       styleClass="orderHistoryButton"
                                       update=":ordersHistoryForm"
                                       action="#{orderCreationMB.resetOrderHistoryTimeline}"
                                       oncomplete="PF('orderHistoryDialog').show();"
                                       icon="ui-icon-script"/>

                    </h:form>

                </p:tab>

                <p:tab title="Фильтры">
                    <h:form>
                        <p:commandLink value="Новые"
                                       rendered="#{sec:isManager()}"
                                       onstart="filterOrdersByStatus('#{OrderStatusEnum.NEW}', '#{OrderStatusEnum.NEW.name}')"/>
                        <br/>
                        <br/>
                        <p:commandLink value="В работе"
                                       rendered="#{sec:isManager()}"
                                       onstart="filterOrdersByStatus('#{OrderStatusEnum.IN_WORK}', '#{OrderStatusEnum.IN_WORK.name}')"/>
                        <br/>
                        <br/>
                        <p:commandLink value="Выполненные"
                                       rendered="#{sec:isManager()}"
                                       onstart="filterOrdersByStatus('#{OrderStatusEnum.COMPLETE}', '#{OrderStatusEnum.COMPLETE.name}')"/>
                    </h:form>
                </p:tab>

                <p:tab title="Поиск">

                    <h:form id="orderSearchForm" prependId="false" styleClass="orderSearchForm">

                        <p:outputPanel id="orderSearchTable">

                            <h:panelGrid columns="2" columnClasses="top top">

                                <h:panelGrid columns="1">

                                    Номер заказа содержит
                                    <p:inputText value="#{orderSearchMB.orderCriteria.orderId}" id="orderId"/>

                                    <br/>

                                    <p:selectOneMenu value="#{orderSearchMB.orderCriteria.client}"
                                                     id="orderClient"
                                                     converter="#{clientConverter}"
                                                     var="cl"
                                                     filter="true"
                                                     filterMatchMode="contains">
                                        <f:selectItem itemLabel="Клиент"
                                                      itemValue=""/>
                                        <f:selectItems value="#{clientMB.allClients}"/>
                                        <p:column>
                                            #{cl.name}
                                        </p:column>
                                    </p:selectOneMenu>

                                    <p:fieldset legend="Дата создания">

                                        <!-- not masked: stale values even after update with null value (browser cache) -->
                                        <p:calendar id="startDate"
                                                    value="#{orderSearchMB.orderCriteria.startDate}"
                                                    maxdate="#{of:formatDate(now, 'dd.MM.yyyy')}"
                                                    pattern="dd.MM.yyyy"
                                                    readonlyInput="true"
                                                    mask="false"
                                                    locale="ru">
                                            <p:ajax event="dateSelect"
                                                    process="@this"
                                                    partialSubmit="true"/>
                                        </p:calendar>
                                        <p:watermark for="startDate" value="с"/>

                                        <p:calendar id="endDate"
                                                    value="#{orderSearchMB.orderCriteria.endDate}"
                                                    mindate="#{orderSearchMB.orderCriteria.startDate != null ? orderSearchMB.orderCriteria.startDate : ''}"
                                                    maxdate="#{of:formatDate(now, 'dd.MM.yyyy')}"
                                                    pattern="dd.MM.yyyy"
                                                    readonlyInput="true"
                                                    mask="false"
                                                    locale="ru">
                                        </p:calendar>
                                        <p:watermark for="endDate" value="по"/>

                                    </p:fieldset>

                                    <p:fieldset legend="Сумма">
                                        <p:inputNumber value="#{orderSearchMB.orderCriteria.costFrom}" id="costFrom"
                                                       decimalPlaces="0"/>
                                        <p:watermark for="costFrom" value="от"/>

                                        <p:inputNumber value="#{orderSearchMB.orderCriteria.costTo}" id="costTo"
                                                       decimalPlaces="0"/>
                                        <p:watermark for="costTo" value="до"/>

                                    </p:fieldset>

                                    <br/>

                                    <p:selectOneMenu value="#{orderSearchMB.orderCriteria.status}"
                                                     converter="#{orderStatusConverter}">
                                        <f:selectItem itemLabel="Статус"
                                                      itemValue="#{null}"/>
                                        <f:selectItem itemLabel="#{OrderStatusEnum.NEW.name}"
                                                      itemValue="#{OrderStatusEnum.NEW}"/>
                                        <f:selectItem itemLabel="#{OrderStatusEnum.IN_WORK.name}"
                                                      itemValue="#{OrderStatusEnum.IN_WORK}"/>
                                        <f:selectItem itemLabel="#{OrderStatusEnum.COMPLETE.name}"
                                                      itemValue="#{OrderStatusEnum.COMPLETE}"/>
                                    </p:selectOneMenu>

                                    <br/>

                                    <p:selectManyMenu value="#{orderSearchMB.orderCriteria.services}"
                                                      scrollHeight="100"
                                                      converter="#{serviceConverter}"
                                                      var="service"
                                                      filter="true"
                                                      filterMatchMode="contains"
                                                      showCheckbox="true"
                                                      id="orderSearchServices">
                                        <f:selectItems value="#{serviceMB.allServices}"
                                                       var="s"
                                                       itemLabel="#{s.name}"
                                                       itemValue="#{s}"/>
                                        <p:column>
                                            <h:outputText value="#{service.name}"/>
                                        </p:column>
                                    </p:selectManyMenu>
                                    <p:watermark for="orderSearchServices" value="Услуги"/>

                                </h:panelGrid>

                            </h:panelGrid>

                            <p:commandButton value="Поиск"
                                             id="orderSearchRunButton"
                                             styleClass="orderSearchRunButton"
                                             update="@(.orderTableForm)"
                                             icon="fa fa-search"/>

                            <span class="ui-separator"/>

                            <p:commandButton value="Сброс"
                                             process="@this"
                                             partialSubmit="true"
                                             id="orderSearchResetButton"
                                             styleClass="orderSearchResetButton"
                                             action="#{orderSearchMB.resetSearch}"
                                             update="orderSearchForm"
                                             icon="fa fa-close"/>

                        </p:outputPanel>

                    </h:form>

                </p:tab>

            </p:accordionPanel>

        </f:facet>

        <f:facet name="center">

            <h:form id="orderTableForm"
                    prependId="false"
                    onkeypress="if(event.keyCode == 13){event.preventDefault();}"
                    styleClass="orderTableForm">

                <p:outputPanel styleClass="searchLabels"
                               rendered="#{not orderSearchMB.orderCriteria.isEmpty()}">
                    <ui:include src="orderSearchLabels.xhtml"/>
                </p:outputPanel>

                <p:dataTable id="orderTable"
                             reflow="true"
                             styleClass="orderTable"
                             var="order"
                             value="#{orderSearchMB.lazyDataModel}"
                             rows="20"
                             selection="#{orderCreationMB.order}"
                             selectionMode="single"
                             rowKey="#{order.id}"
                             paginator="true"
                             paginatorPosition="bottom"
                             paginatorAlwaysVisible="true"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             currentPageReportTemplate="количество заказов: {totalRecords}"
                             rowsPerPageTemplate="20,50,100"
                             rowsPerPageLabel="показывать по"
                             lazy="true"
                             emptyMessage="Список заказов пуст"
                             widgetVar="ordersTable"
                             sortBy="#{order.id}"
                             sortOrder="descending">

                    <p:ajax event="rowSelect"
                            update=":orderForm"
                            oncomplete="hideError(); jQuery('#orderListLayout').hide(); myShow('orderForm');"
                            process="@this"
                            partialSubmit="true"/>

                    <p:column rendered="#{orderCreationMB.orderUnionMode}"
                              width="25">
                        <p:commandButton icon="ui-icon-link"
                                         process="@this"
                                         partialSubmit="true"/>
                    </p:column>

                    <p:column headerText="Номер" sortBy="#{order.orderId}" filterBy="#{order.orderId}">
                        #{order.orderId}
                    </p:column>

                    <p:column headerText="Клиент"
                              filterBy="#{order.client}"
                              filterMatchMode="exact">

                        <f:facet name="filter">
                            <p:selectOneMenu value="#{orderSearchMB.orderCriteria.client}"
                                             id="orderClient123"
                                             converter="#{clientConverter}"
                                             var="cl"
                                             filter="true"
                                             filterMatchMode="contains">
                                <p:ajax event="change"
                                        update="@(.orderTableForm) @(.orderSearchForm)"
                                        oncomplete="PF('orderMenuAccordion').select(2);"/>
                                <f:selectItem itemLabel="Клиент"
                                              itemValue=""/>
                                <f:selectItems value="#{clientMB.allClients}"/>
                                <p:column>
                                    #{cl.name}
                                </p:column>
                            </p:selectOneMenu>
                        </f:facet>
                        #{order.client.name}
                    </p:column>

                    <p:column headerText="Позиций в заказе" sortBy="#{order.itemCount}">
                        #{order.itemCount}
                    </p:column>

                    <p:column headerText="Сумма" sortBy="#{order.cost}">
                        <h:outputText value="#{order.cost}">
                            <f:convertNumber type="currency" currencySymbol="р."/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Дата создания" sortBy="#{order.dateCreated}">
                        <h:outputText value="#{order.dateCreated}">
                            <f:convertDateTime pattern="dd.MM.yyyy"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Статус"
                              filterBy="#{order.status}"
                              filterMatchMode="exact">
                        <f:facet name="filter">
                            <p:selectOneMenu value="#{orderSearchMB.orderCriteria.status}"
                                             converter="#{orderStatusConverter}"
                                             id="orderStatusMenu"
                                             label="Статус"
                                             var="status">
                                <p:ajax event="change" update="@(.orderTableForm) @(.orderSearchForm)"
                                        oncomplete="PF('orderMenuAccordion').select(2);"/>
                                <f:selectItem itemLabel="все" itemValue=""/>
                                <f:selectItem itemLabel="#{OrderStatusEnum.NEW.name}"
                                              itemValue="#{OrderStatusEnum.NEW}"/>
                                <f:selectItem itemLabel="#{OrderStatusEnum.IN_WORK.name}"
                                              itemValue="#{OrderStatusEnum.IN_WORK}"/>
                                <f:selectItem itemLabel="#{OrderStatusEnum.COMPLETE.name}"
                                              itemValue="#{OrderStatusEnum.COMPLETE}"/>
                                <p:column>
                                    <p:progressBar
                                            value="#{status eq OrderStatusEnum.NEW ? 0 : status eq OrderStatusEnum.IN_WORK ? 40 : 100}"
                                            labelTemplate="#{status.name}" displayOnly="true"/>
                                </p:column>
                            </p:selectOneMenu>
                        </f:facet>
                        #{order.status.name}
                    </p:column>

                    <p:column headerText="Готовность" sortBy="#{order.readiness}">
                        <p:progressBar value="#{order.readiness}" labelTemplate="{value}%" displayOnly="true"/>
                    </p:column>

                    <p:column styleClass="transparentButton"
                              width="55"
                              rendered="#{sec:isManager()}">
                        <p:commandButton value="Удалить"
                                         oncomplete="PF('confirmOrderDelete').show();"
                                         update=":confirmOrderDeleteForm"
                                         process="@this"
                                         partialSubmit="true">
                            <f:setPropertyActionListener value="#{order}" target="#{orderCreationMB.order}"/>
                        </p:commandButton>
                    </p:column>

                </p:dataTable>

                <p:notificationBar position="bottom"
                                   effect="slide"
                                   style="height: 50px;"
                                   widgetVar="orderUnionBar">
                    <h:outputText value="PrimeFaces Rocks!" style="font-size: 36px;"/>
                </p:notificationBar>
            </h:form>

        </f:facet>

    </io:table>

</ui:composition>