<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:o="http://omnifaces.org/ui"
        xmlns:io="http://java.sun.com/jsf/composite/iozee"
>

    <o:importConstants type="com.iozee.printadmin.enums.OrderStatusEnum"/>

    <h:form id="orderHistoryForm">

        <io:table rendered="#{not empty orderStatusTimelineBean.order}">

            <f:facet name="left">

                <p:accordionPanel prependId="false" styleClass="leftMenuAccordion">

                    <p:tab title="Действия">

                        <p:commandLink ajax="true"
                                       process="@this"
                                       partialSubmit="true"
                                       value="Закрыть"
                                       oncomplete="jQuery('#orderHistoryForm').hide(); myShow('orderForm');"
                                       icon="ui-icon-close"/>
                    </p:tab>

                </p:accordionPanel>

            </f:facet>

            <f:facet name="center">

                <p:panel styleClass="orderHistoryPanel">

                    <p:breadCrumb homeDisplay="text">
                        <p:menuitem value="Заказы" url="/orders"/>
                        <p:menuitem value="Заказ #{orderCreationMB.order.orderId}"
                                    ajax="true"
                                    oncomplete="myShow('orderForm'); jQuery('#orderHistoryForm').hide();"/>
                        <p:menuitem value="История" url="#" ajax="true"/>
                    </p:breadCrumb>

                    <br/>

                    <p:timeline value="#{orderStatusTimelineBean.orderItemTimeline}"
                                selectable="false"
                                zoomable="true"
                                moveable="true"
                                stackEvents="true"
                                height="500px"
                                width="1000px"
                                axisOnTop="true"
                                zoomMin="60000"
                                eventStyle="box"
                                showCurrentTime="true"
                                showNavigation="false"
                                locale="ru"/>

                </p:panel>

            </f:facet>

        </io:table>

    </h:form>

</ui:composition>

