<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:fn="http://java.sun.com/jsp/jstl/functions"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:io="http://java.sun.com/jsf/composite/iozee"
        xmlns:o="http://omnifaces.org/ui">

    <o:importConstants type="com.iozee.printadmin.enums.ServiceEnum"/>

    <h:form id="orderItemForm"
            style="display: none">

        <io:blockUI target=":orderItemForm"
                    trigger="@(.saveOrderItemButton) @(.deleteOrderItemButton) @(.orderItemHistoryButton)"/>

        <io:table id="orderItemTable">
            <f:facet name="left">

                <p:accordionPanel prependId="false" styleClass="leftMenuAccordion">

                    <p:tab title="Действия">

                        <p:commandLink ajax="true"
                                       styleClass="saveOrderItemButton"
                                       value="Сохранить"
                                       icon="ui-icon-check"
                                       action="#{orderCreationMB.updateOrderItem}"/>

                        <br/>
                        <br/>

                        <p:commandLink ajax="true"
                                       styleClass="deleteOrderItemButton"
                                       value="Удалить"
                                       icon="ui-icon-trash"
                                       update="@(.orderTableForm) @(.orderPanel)"
                                       oncomplete="PF('orderItemDialog').hide();"
                                       partialSubmit="true"
                                       process="@this"
                                       action="#{orderCreationMB.deleteOrderItem}"/>

                        <br/>
                        <br/>

                        <p:commandLink ajax="true"
                                       styleClass="orderItemHistoryButton"
                                       partialSubmit="true"
                                       process="@this"
                                       update=":orderItemHistoryForm"
                                       oncomplete="jQuery('#orderItemForm').hide(); myShow('orderItemHistoryForm');"
                                       value="История обработки"
                                       type="button"
                                       icon="ui-icon-close"
                                       iconPos="right">
                            <f:setPropertyActionListener value="#{orderCreationMB.orderItem}"
                                                         target="#{orderItemStatusTimelineBean.orderItem}"/>
                        </p:commandLink>

                        <br/>
                        <br/>

                        <p:commandLink ajax="true"
                                       value="Закрыть"
                                       type="button"
                                       icon="ui-icon-close"
                                       iconPos="right"
                                       partialSubmit="true"
                                       process="@this"
                                       oncomplete="myShow('orderForm'); jQuery('#orderItemForm').hide();"/>

                    </p:tab>

                </p:accordionPanel>

            </f:facet>

            <f:facet name="center">

                <!-- this must not be rendered if OrderMB.order is null or is a new instance -->
                <p:panel styleClass="orderItemPanel"
                         rendered="#{not empty orderCreationMB.order and orderCreationMB.order.id ne 0}">

                    <p:breadCrumb homeDisplay="text">
                        <p:menuitem value="Заказы" url="/orders"/>
                        <p:menuitem value="Заказ #{orderCreationMB.order.orderId}"
                                    ajax="true"
                                    oncomplete="myShow('orderForm'); jQuery('#orderItemForm').hide();"/>
                        <p:menuitem value="#{orderCreationMB.orderItem.service.name}" url="#"/>
                    </p:breadCrumb>

                    <h:panelGrid columns="2">

                        <p:outputPanel>

                            <io:panelGrid width="700px">

                                <h:outputText value="Вид изделия"/>
                                <h:outputText value="#{orderCreationMB.orderItem.service.name}"/>

                                Дата создания
                                <h:outputText value="#{orderCreationMB.orderItem.timeCreated}">
                                    <f:convertDateTime pattern="dd.MM.yyyy, HH:mm"/>
                                </h:outputText>

                                Статус *
                                <p:outputPanel styleClass="orderItemStatusButton">
                                    <p:menuButton value="#{orderCreationMB.orderItem.status.name}"
                                                  rendered="#{not empty orderCreationMB.orderItem.status.orderItemStatusLinks}"
                                                  iconPos="right">
                                        <c:forEach
                                                items="#{orderCreationMB.orderItem.status.orderItemStatusLinks.toArray()}"
                                                var="statusTransition"
                                                varStatus="currentItem">
                                            <p:separator rendered="#{currentItem.index > 0 and
                                                    fn:length(orderCreationMB.orderItem.status.orderItemStatusLinks) > 1}"/>
                                            <p:menuitem value="#{statusTransition.nextStatus.name}"
                                                        action="#{orderCreationMB.setOrderItemStatus(statusTransition)}"
                                                        title="#{orderCreationMB.isStatusChangeAllowed(statusTransition) ? '' : 'Нет прав для перевода в статус'}"
                                                        disabled="#{not orderCreationMB.isStatusChangeAllowed(statusTransition)}"
                                                        process="@this"
                                                        partialSubmit="true"
                                                        update="@(.orderItemStatusButton) @(.orderPanel)"/>
                                        </c:forEach>
                                    </p:menuButton>

                                    <h:outputText value="#{orderCreationMB.orderItem.status.name}"
                                                  rendered="#{empty orderCreationMB.orderItem.status.orderItemStatusLinks}"
                                                  style="font-weight: bold"/>
                                </p:outputPanel>

                            </io:panelGrid>

                            <ui:include src="includes/attributesByService.xhtml"/>

                            <h2>Сумма, р.</h2>
                            <p:inputNumber
                                    value="#{orderCreationMB.orderItem.cost}"
                                    minValue="0"
                                    label="Сумма"
                                    decimalPlaces="2"
                                    required="true"/>

                            <br/>
                            <br/>

                            <p:commandButton value="Сохранить"
                                             styleClass="saveOrderItemButton"
                                             icon="fa fa-check"
                                             action="#{orderCreationMB.updateOrderItem}"/>

                            <span class="ui-separator"/>

                            <p:commandButton value="Удалить"
                                             styleClass=""
                                             icon="fa fa-trash"
                                             update="@(.orderTableForm) @(.orderPanel)"
                                             oncomplete="PF('orderItemDialog').hide();"
                                             action="#{orderCreationMB.deleteOrderItem}"/>

                            <span class="ui-separator"/>

                            <p:commandButton value="Закрыть"
                                             type="button"
                                             icon="fa fa-close"
                                             iconPos="right"
                                             onclick="myShow('orderForm'); jQuery('#orderItemForm').hide();"/>

                        </p:outputPanel>

                    </h:panelGrid>

                    <p:outputPanel styleClass="orderItemHistory">

                        <p:outputPanel rendered="#{not empty orderItemStatusTimelineBean.orderItem}">

                            <br/>

                            <p:timeline value="#{orderItemStatusTimelineBean.orderItemTimeline}"
                                        width="1000px"
                                        selectable="false"
                                        zoomable="true"
                                        moveable="true"
                                        stackEvents="true"
                                        axisOnTop="true"
                                        zoomMin="60000"
                                        eventStyle="box"
                                        showCurrentTime="true"
                                        showNavigation="false"
                                        locale="ru"/>
                        </p:outputPanel>

                    </p:outputPanel>

                </p:panel>

            </f:facet>

        </io:table>

    </h:form>

</ui:composition>