<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:sec="http://iozee.ru/spring/security/tags"
        xmlns:o="http://omnifaces.org/ui"
        xmlns:io="http://java.sun.com/jsf/composite/iozee"
>

    <o:importConstants type="com.iozee.printadmin.enums.OrderStatusEnum"/>

    <h:form id="orderForm"
            styleClass="editMonitor"
            style="display: none;">

        <io:blockUI target=":orderForm"
                    trigger="@(.addOrderItemButton) @(.orderHistoryButton) @(.orderItemTable)"
                    widgetVar="orderBlock"/>

        <io:table rendered="#{not empty orderCreationMB.order and orderCreationMB.order.id ne 0}">

            <f:facet name="left">

                <p:accordionPanel prependId="false" styleClass="leftMenuAccordion">

                    <p:tab title="Действия">

                        <h:panelGroup
                                rendered="#{sec:isManager()}">

                            <p:commandLink ajax="true"
                                           styleClass="addOrderItemButton"
                                           value="Добавить позицию"
                                           icon="ui-icon-circle-plus"
                                           oncomplete="alert(111)"
                                           update=":addOrderPanel"
                                           action="#{orderCreationMB.initForAddingOrderItem}"
                                           process="@this"
                                           partialSubmit="true"/>
                            <br/>
                            <br/>
                        </h:panelGroup>

                        <p:commandLink ajax="true"
                                       styleClass="orderHistoryButton"
                                       partialSubmit="true"
                                       process="@this"
                                       update=":orderHistoryForm"
                                       value="История обработки"
                                       oncomplete="jQuery('#orderForm').hide(); myShow('orderHistoryForm');"
                                       type="button"
                                       icon="ui-icon-close"
                                       iconPos="right">
                            <f:setPropertyActionListener value="#{orderCreationMB.order}"
                                                         target="#{orderStatusTimelineBean.order}"/>
                        </p:commandLink>

                        <br/>
                        <br/>

                        <p:commandLink ajax="true"
                                       process="@this"
                                       partialSubmit="true"
                                       value="Закрыть"
                                       icon="ui-icon-close"
                                       oncomplete="jQuery('#orderForm').hide(); myShow('orderListLayout');"/>
                    </p:tab>

                </p:accordionPanel>

            </f:facet>

            <f:facet name="center">
                <!-- this must not be rendered if OrderMB.order is null or is a new instance -->
                <p:panel styleClass="orderPanel">

                    <p:breadCrumb homeDisplay="text">
                        <p:menuitem value="Заказы"
                                    ajax="true"
                                    oncomplete="jQuery('#orderForm').hide(); myShow('orderListLayout');"/>
                        <p:menuitem value="Заказ #{orderCreationMB.order.orderId}" url="#"/>
                    </p:breadCrumb>

                    <h3>Заказ #{orderCreationMB.order.orderId}</h3>

                    <io:panelGrid>

                        Клиент
                        <h:outputText value="#{orderCreationMB.order.client}"/>

                        Дата создания
                        <h:outputText value="#{orderCreationMB.order.timeCreated}">
                            <f:convertDateTime pattern="dd.MM.yyyy, HH:mm"/>
                        </h:outputText>

                        Номер заказа
                        <h:outputText value="#{orderCreationMB.order.orderId}"/>

                        Сумма
                        <h:outputText value="#{orderCreationMB.order.cost}">
                            <f:convertNumber type="currency" currencySymbol="р."/>
                        </h:outputText>

                        Статус
                        <h:outputText value="#{orderCreationMB.order.status.name}"/>

                        Готовность
                        <p:progressBar value="#{orderCreationMB.order.readiness}"
                                       labelTemplate="{value}%"
                                       displayOnly="true"
                                       id="orderProgress"/>

                    </io:panelGrid>


                </p:panel>

            </f:facet>

        </io:table>

    </h:form>

</ui:composition>