<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
>

    <ui:include src="/WEB-INF/templates/clients/clientsList.xhtml"/>
    <ui:include src="/WEB-INF/templates/clients/clientsSearch.xhtml"/>
    <ui:include src="/WEB-INF/templates/clients/addClient.xhtml"/>
    <ui:include src="/WEB-INF/templates/clients/client.xhtml"/>
    <ui:include src="/WEB-INF/templates/clients/deleteClient.xhtml"/>

</ui:composition>