<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
>

    <ui:include src="/WEB-INF/templates/orders/orderList.xhtml"/>
    <ui:include src="/WEB-INF/templates/orders/order.xhtml"/>
    <ui:include src="/WEB-INF/templates/orders/addOrder.xhtml"/>
    <ui:include src="/WEB-INF/templates/orders/orderItem.xhtml"/>
    <ui:include src="/WEB-INF/templates/orders/deleteOrderItem.xhtml"/>
    <ui:include src="/WEB-INF/templates/orders/deleteOrder.xhtml"/>
    <ui:include src="/WEB-INF/templates/orders/ordersHistory.xhtml"/>
    <ui:include src="/WEB-INF/templates/orders/orderHistory.xhtml"/>
    <ui:include src="/WEB-INF/templates/orders/orderItemHistory.xhtml"/>

</ui:composition>