<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>

    <h:form id="addClientForm"
            styleClass="editMonitor">

        <p:dialog header="Добавить клиента"
                  widgetVar="addClientDialog"
                  modal="true"
                  resizable="false"
                  dynamic="true"
                  width="370"
                  height="180"
                  onShow="hideError();">

            <h:panelGrid columns="2"
                         columnClasses="myColumn myColumn">
                Имя *
                <p:inputText value="#{clientMB.client.name}"
                             label="Имя"
                             required="true"/>

                Телефон (моб.)
                <p:inputMask value="#{clientMB.client.mobileFirst}"
                             mask="+7 (999) 999-99-99"/>

                Телефон
                <p:inputMask value="#{clientMB.client.phoneFirst}"
                             mask="8 (999) 999-99-99"/>

                Email
                <p:inputText label="Email"
                             validatorMessage="Неверный формат электронной почты"
                             value="#{clientMB.client.email}">
                    <f:validateRegex
                            pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                </p:inputText>
            </h:panelGrid>

            <div class="formControlsBottom">

                <p:commandButton value="Добавить клиента"
                                 icon="ui-icon-circle-plus"
                                 action="#{clientMB.createClient}"
                                 update="@(.clientTable)"/>

                <p:commandButton value="Отмена"
                                 type="button"
                                 icon="ui-icon-close"
                                 iconPos="right"
                                 onclick="PF('addClientDialog').hide(); formEdited = false;"/>

            </div>
        </p:dialog>
    </h:form>

</ui:composition>