<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>

    <h:form id="clientForm" styleClass="editMonitor">
        <p:dialog widgetVar="clientDialog"
                  id="clientDialog"
                  styleClass="clientDialog"
                  header="Клиент: #{clientMB.client.name}"
                  resizable="false"
                  width="1000"
                  height="500"
                  dynamic="true"
                  modal="true"
                  onShow="hideError();">

            <p:tabView id="clientTabView"
                       dynamic="true">

                <p:tab title="Общая информация"
                       id="clientTab">

                    <h:panelGrid columns="2"
                                 columnClasses="myColumn myColumn"
                                 id="clientGrid">

                        Имя *
                        <p:inputText value="#{clientMB.client.name}" label="Имя" required="true"
                                     maxlength="100"/>

                        Телефон (моб.)
                        <p:inputMask value="#{clientMB.client.mobileFirst}" mask="+7 (999) 999-99-99"/>

                        Телефон
                        <p:inputMask value="#{clientMB.client.phoneFirst}" mask="8 (999) 999-99-99"/>

                        Email
                        <p:inputText label="Email" validatorMessage="Неверный формат электронной почты"
                                     value="#{clientMB.client.email}">
                            <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                        </p:inputText>

                        Количество заказов
                        <h:outputText value="#{clientMB.client.ordersCount}"/>

                    </h:panelGrid>

                    <div class="formControls">
                        <p:commandButton value="Сохранить"
                                         action="#{clientMB.updateClient}"
                                         update="@(.clientTable)"/>
                        <p:commandButton value="Закрыть"
                                         type="button"
                                         onclick="closeEditDialog();"/>
                    </div>
                </p:tab>
                <p:tab title="История заказов (#{clientMB.client.ordersCount})">

                    <p:dataTable value="#{orderCreationMB.getOrdersByClient(clientMB.client)}"
                                 reflow="true"
                                 var="order"
                                 selection="#{orderCreationMB.order}"
                                 selectionMode="single"
                                 rowKey="#{order.id}"
                                 emptyMessage="Список заказов пуст"
                                 widgetVar="clientFormOrdersTable"
                                 scrollable="#{clientMB.client.ordersCount > 6 ? 'true' : 'false'}"
                                 scrollHeight="#{clientMB.client.ordersCount > 6 ? '170' : '0'}"
                                 sortBy="#{order.timeCreated}"
                                 style="width: 928px !important;">

                        <p:ajax event="rowSelect"
                                listener="#{panelManagerMB.showOrderFromClientHistory}"
                                process="@this"
                                partialSubmit="true"/>

                        <p:column headerText="Номер">
                            #{order.orderId}
                        </p:column>

                        <p:column headerText="Позиций в заказе" sortBy="#{order.itemCount}">
                            #{order.itemCount}
                        </p:column>

                        <p:column headerText="Сумма" sortBy="#{order.cost}">
                            <h:outputText value="#{order.cost}">
                                <f:convertNumber type="currency" currencySymbol="р."/>
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Дата" sortBy="#{order.timeCreated}">
                            <h:outputText value="#{order.timeCreated}">
                                <f:convertDateTime pattern="dd.MM.yyyy, HH:mm"/>
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Статус"
                                  filterBy="#{order.status}"
                                  filterMatchMode="exact">
                            <f:facet name="filter">
                                <p:selectOneMenu converter="#{orderStatusConverter}"
                                                 filter="true"
                                                 filterMatchMode="contains"
                                                 label="Статус"
                                                 onchange="PF('clientFormOrdersTable').filter()">
                                    <f:selectItem itemLabel="" itemValue=""/>
                                    <f:selectItems value="#{orderCreationMB.allOrderStatuses}"
                                                   var="statusTransition"
                                                   itemLabel="#{statusTransition.name}"
                                                   itemValue="#{statusTransition}"/>
                                </p:selectOneMenu>
                            </f:facet>
                            #{order.status}
                        </p:column>

                        <p:column headerText="Готовность" sortBy="#{order.readiness}">
                            <p:progressBar value="#{order.readiness}" labelTemplate="{value}%" displayOnly="true"/>
                        </p:column>

                        <p:column styleClass="transparentButton" width="55">
                            <p:commandButton value="Удалить"
                                             oncomplete="PF('confirmOrderDelete').show();"
                                             process="@this"
                                             partialSubmit="true">
                                <f:setPropertyActionListener value="#{order}" target="#{orderCreationMB.order}"/>
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </p:tab>
            </p:tabView>

        </p:dialog>
    </h:form>

</ui:composition>