<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>


    <h:form id="clientSearchForm">

        <p:dialog widgetVar="clientSearchDialog"
                  id="clientSearchDialog"
                  dynamic="true"
                  header="Поиск"
                  modal="true"
                  resizable="false"
                  draggable="true">

            <p:outputPanel id="clientSearchTable">

                <h:panelGrid columns="2" columnClasses="top top">

                    <h:panelGrid columns="2"
                                 width="350">
                        Имя содержит
                        <p:inputText value="#{clientSearchMB.name}"/>

                        Мобильный телефон
                        <p:inputMask value="#{clientSearchMB.mobileFirst}"
                                     mask="+7 (999) 999-99-99"/>

                        Телефон
                        <p:inputMask value="#{clientSearchMB.phoneFirst}"
                                     mask="8 (999) 999-99-99"/>

                    </h:panelGrid>

                    <h:panelGrid columns="2"
                                 width="350">

                        Email содержит
                        <p:inputText value="#{clientSearchMB.email}"/>

                        Количество заказов от
                        <p:inputNumber value="#{clientSearchMB.ordersCountFrom}"/>

                        Количество заказов до
                        <p:inputNumber value="#{clientSearchMB.ordersCountTo}"/>

                    </h:panelGrid>

                </h:panelGrid>
            </p:outputPanel>

            <div class="formControls">
                <p:commandButton value="Поиск"
                                 id="clientSearchRunButton"
                                 update="@(.clientTable)"
                                 oncomplete="PF('clientSearchDialog').hide()"
                                 icon="ui-icon-search"/>

                <span class="ui-separator"/>

                <p:commandButton value="Сброс"
                                 process="@this"
                                 partialSubmit="true"
                                 id="clientSearchResetButton"
                                 action="#{clientSearchMB.resetSearch}"
                                 update="@(.clientTable)"
                                 oncomplete="PF('clientSearchDialog').hide()"/>

                <span class="ui-separator"/>

                <p:commandButton value="Закрыть"
                                 process="@this"
                                 partialSubmit="true"
                                 oncomplete="PF('clientSearchDialog').hide()"
                                 icon="ui-icon-close"
                                 iconPos="right"/>
            </div>
        </p:dialog>
    </h:form>

</ui:composition>