<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:io="http://java.sun.com/jsf/composite/iozee"
>

    <io:blockUI target="@(.clientTableForm)" trigger="@(.clientTable)"/>

    <p:toolbar>
        <f:facet name="left">
            <h:form>
                <p:commandButton value="Добавить"
                                 icon="ui-icon-circle-plus"
                                 id="addOrderButton"
                                 oncomplete="PF('addClientDialog').show();"
                                 action="#{clientMB.resetEntity}"
                                 update=":addClientForm"
                                 process="@this"
                                 partialSubmit="true"/>

                <span class="ui-separator"/>

                <p:commandButton value="Поиск"
                                 process="@this"
                                 partialSubmit="true"
                                 oncomplete="PF('clientSearchDialog').show();"
                                 icon="ui-icon-search"
                                 update=":clientSearchForm:clientSearchTable"/>

            </h:form>
        </f:facet>
    </p:toolbar>

    <io:clientsTable
            update="@(.clientDialog)"
            onComplete="PF('clientDialog').show();"
            deleteButton="true"
            selection="#{clientMB.client}"/>

</ui:composition>