<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>

    <h:form>
        <p:confirmDialog header="Удалить клиента #{clientMB.client.name}"
                         message="Вы уверены?"
                         widgetVar="confirmClientDelete">
            <div class="formControls">
                <p:commandButton action="#{clientMB.deleteClient}"
                                 process="@this"
                                 partialSubmit="true"
                                 update="@(.clientTable)"
                                 value="Да"
                                 icon="ui-icon-check"
                                 oncomplete="PF('confirmClientDelete').hide();"/>
                <p:commandButton value="Нет"
                                 type="button"
                                 icon="ui-icon-close"
                                 onclick="PF('confirmClientDelete').hide();"/>
            </div>
        </p:confirmDialog>
    </h:form>


</ui:composition>