<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
>
    <!--

    <p:dataTable>
        <p:column headerText="1"/>
        <p:column headerText="2"/>
        <p:column headerText="3"/>
        <mysec:manager>
            <p:column headerText="4"/>
        </mysec:manager>
    </p:dataTable>
          -->

</ui:composition>