<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:sec="http://iozee.ru/spring/security/tags"
        xmlns:pe="http://primefaces.org/ui/extensions">

    <h:form prependId="false" rendered="#{sec:isAuthorized()}">

        <p:growl id="growl" showDetail="true" showSummary="false" life="3800" autoUpdate="true"/>

        <p:dialog header="Внимание"
                  widgetVar="editMonitorAlert"
                  closeOnEscape="false"
                  width="420"
                  height="80"
                  resizable="false"
                  modal="true">
            Имеются несохраненные данные. Вы хотите закрыть страницу?
            <div class="formControlsBottom">
                <p:commandButton type="button"
                                 value="Да"
                                 styleClass="ui-confirmdialog-yes"
                                 icon="ui-icon-check"
                                 onclick="closeConfirm();"/>
                <p:commandButton type="button"
                                 value="Нет"
                                 styleClass="ui-confirmdialog-no"
                                 icon="ui-icon-close"
                                 onclick="PF('editMonitorAlert').hide();"/>
            </div>
        </p:dialog>

        <pe:tooltip global="true" myPosition="left center" atPosition="right center" showDelay="500"/>

        <p:idleMonitor timeout="#{userMB.idleTimeout}">

            <p:ajax event="idle"
                    listener="#{userMB.onIdle}"
                    process="@this"
                    partialSubmit="true"/>

            <p:ajax event="active"
                    listener="#{userMB.onActive}"
                    process="@this"
                    partialSubmit="true"/>

        </p:idleMonitor>
    </h:form>

</ui:composition>