<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>
            <ui:insert name="title">PrintAdmin - авторизация</ui:insert>
        </title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

        <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/images/favicon.ico"/>

        <h:outputScript library="javax.faces" name="jsf.js" target="head"/>
        <h:outputScript library="omnifaces" name="fixviewstate.js" target="head"/>
        <h:outputScript library="script" name="script.js"/>
        <h:outputScript library="script" name="jquery.inputmask.js"/>

        <f:facet name="last">
            <h:outputStylesheet library="css" name="style.css"/>
        </f:facet>
    </h:head>
</ui:composition>