<!DOCTYPE html [
        <!ENTITY nbsp "&#160;">
        ]>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<o:importConstants type="com.iozee.printadmin.security.RolesEnum" var="Roles"/>

<ui:include src="head.xhtml"/>

<h:body>
    <ui:include src="header.xhtml"/>
    <ui:include src="menuOnepager.xhtml"/>
    <ui:insert name="content"/>
    <ui:include src="footer.xhtml"/>
</h:body>

</html>