<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:sec="http://iozee.ru/spring/security/tags">

    <h:form id="mainMenu" rendered="#{sec:isAuthorized()}">

        <!--<p:sticky target=":mainMenu:mainMenuBar"/>-->

        <p:menubar id="mainMenuBar" style="padding: 7px; margin: 0; z-index: 1" styleClass="noRoundCorners">

            <p:menuitem value="Главная"
                        url="/"
                        icon="fa fa-home"/>

            <p:menuitem value="Заказы"
                        url="/orders"
                        icon="fa fa-shopping-cart"
                        rendered="#{sec:isManager() or sec:isPrePress()}"/>

            <p:menuitem value="Клиенты"
                        url="/clients"
                        icon="fa fa-user"
                        rendered="#{sec:isManager()}"/>

            <p:menuitem value="Сотрудники"
                        url="/employees"
                        icon="fa fa-user-md"
                        rendered="#{sec:isManager() or sec:isPrePress()}"/>

            <p:menuitem value="Оборудование"
                        url="/machines"
                        icon="fa fa-print"
                        rendered="#{sec:isManager() or sec:isPrePress()}"/>

            <p:menuitem value="Настройки"
                        url="/settings"
                        icon="fa fa-gear"
                        rendered="#{sec:isSA()}"/>

            <f:facet name="options">
                <p:menuButton value="#{userMB.currentUser.name}"
                              id="userButton"
                              readonly="true"
                              icon="fa fa-user"
                              rendered="#{sec:isAuthorized()}">
                    <p:menuitem value="Выход"
                                url="logout"
                                icon="fa fa-power-off"/>
                </p:menuButton>
            </f:facet>

        </p:menubar>

    </h:form>

    <h:form>
        <h:panelGroup id="menu" layout="block">
            <h:form>
                <ul>
                    <li><p:commandLink value="orders" action="#{state.setPage('orders')}" update=":content"/></li>
                    <li><p:commandLink value="clients" action="#{state.setPage('clients')}" update=":content"/></li>
                </ul>
            </h:form>
        </h:panelGroup>
    </h:form>

</ui:composition>