<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:sec="http://iozee.ru/spring/security/tags">

    <h:form id="mainMenu" rendered="#{sec:isAuthorized()}">

        <!--<p:sticky target=":mainMenu:mainMenuBar"/>-->

        <p:menubar id="mainMenuBar" style="padding: 7px; margin: 0; z-index: 1" styleClass="noRoundCorners">

            <p:menuitem value="Заказы"
                        action="#{state.setPage('orders')}"
                        update=":mainContent"
                        icon="fa fa-shopping-cart"
                        rendered="#{sec:isManager() or sec:isPrePress()}"
                        ajax="true"
                        partialSubmit="true"
                        onstart="PF('mainContentBlock').block()"
                        oncomplete="PF('mainContentBlock').unblock()"/>

            <p:menuitem value="Клиенты"
                        action="#{state.setPage('clients')}"
                        update=":mainContent"
                        icon="fa fa-user"
                        rendered="#{sec:isManager()}"
                        ajax="true"
                        partialSubmit="true"
                        onstart="PF('mainContentBlock').block()"
                        oncomplete="PF('mainContentBlock').unblock()"/>

            <f:facet name="options">
                <p:menuButton value="#{userMB.currentUser.name}"
                              id="userButton"
                              readonly="true"
                              icon="fa fa-user"
                              rendered="#{sec:isAuthorized()}">
                    <p:menuitem value="Выход"
                                url="logout"
                                icon="fa fa-power-off"/>
                </p:menuButton>
            </f:facet>

        </p:menubar>


    </h:form>

</ui:composition>