<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
>
<h:head>
    <title>PrintAdmin</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/images/favicon.ico"/>
    <h:outputScript library="script" name="script.js"/>
    <f:facet name="last">
        <h:outputStylesheet library="css" name="style.css"/>
    </f:facet>
</h:head>
<h:body>

    <ui:include src="/WEB-INF/templates/header.xhtml"/>
    <ui:include src="/WEB-INF/templates/onepager/menu.xhtml"/>

    <p:outputPanel id="clientsPanel" deferred="true">
        <p:outputPanel id="clientsPanelInner" rendered="#{panelManagerMB.isPanelRendered('clientsPanel')}"
                       style="#{panelManagerMB.isPanelVisible('clientsPanel') ? 'display:block !important' : 'display:none !important'}">
            <ui:include src="WEB-INF/templates/clients/clientsTable.xhtml"/>
            <ui:include src="WEB-INF/templates/clients/addClientForm.xhtml"/>
            <ui:include src="WEB-INF/templates/clients/clientForm.xhtml"/>
            <ui:include src="WEB-INF/templates/clients/deleteClient.xhtml"/>
        </p:outputPanel>
    </p:outputPanel>

    <p:outputPanel id="ordersPanel" deferred="true">
        <p:outputPanel id="ordersPanelInner" rendered="#{panelManagerMB.isPanelRendered('ordersPanel')}"
                       style="#{panelManagerMB.isPanelVisible('ordersPanel') ? 'display:block !important' : 'display:none !important'}">
            <ui:include src="WEB-INF/templates/orders/ordersTable.xhtml"/>
            <ui:include src="WEB-INF/templates/orders/deleteOrder.xhtml"/>
            <ui:include src="WEB-INF/templates/orders/orderForm.xhtml"/>
            <ui:include src="WEB-INF/templates/orders/addOrderForm.xhtml"/>
            <ui:include src="WEB-INF/templates/orders/addOrderItemForm.xhtml"/>
            <ui:include src="WEB-INF/templates/orders/deleteOrderItem.xhtml"/>
            <ui:include src="WEB-INF/templates/orders/ordersHistory.xhtml"/>
            <ui:include src="WEB-INF/templates/orders/orderItemForm.xhtml"/>
        </p:outputPanel>
    </p:outputPanel>

    <p:outputPanel id="servicesPanel" deferred="true">
        <p:outputPanel id="servicesPanelInner" rendered="#{panelManagerMB.isPanelRendered('servicesPanel')}"
                       style="#{panelManagerMB.isPanelVisible('servicesPanel') ? 'display:block !important' : 'display:none !important'}">
            <ui:include src="WEB-INF/templates/services/servicesTable.xhtml"/>
            <ui:include src="WEB-INF/templates/services/deleteService.xhtml"/>
            <ui:include src="WEB-INF/templates/services/serviceForm.xhtml"/>
            <ui:include src="WEB-INF/templates/services/addService.xhtml"/>
        </p:outputPanel>
    </p:outputPanel>

</h:body>
</html>