<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:io="http://java.sun.com/jsf/html">

    <!-- JSTL here is important! -->
    <c:if test="#{orderCreationMB.orderItem.service.code eq ServiceEnum.NOTEBOOK}">
        <ui:include src="notebook.xhtml"/>
    </c:if>

    <c:if test="#{orderCreationMB.orderItem.service.code eq ServiceEnum.BANNER}">
        <ui:include src="banner.xhtml"/>
    </c:if>

    <c:if test="#{orderCreationMB.orderItem.service.code eq ServiceEnum.VISITING_CARD}">
        <ui:include src="visitingCard.xhtml"/>
    </c:if>

    <c:if test="#{orderCreationMB.orderItem.service.code eq ServiceEnum.BROCHURE}">
        <ui:include src="brochure.xhtml"/>
    </c:if>

    <c:if test="#{orderCreationMB.orderItem.service.code eq ServiceEnum.LEAFLET}">
        <ui:include src="leaflet.xhtml"/>
    </c:if>

    <c:if test="#{orderCreationMB.orderItem.service.code eq ServiceEnum.BOOKLET}">
        <ui:include src="booklet.xhtml"/>
    </c:if>

    <c:if test="#{orderCreationMB.orderItem.service.code eq ServiceEnum.CALENDAR}">
        <ui:include src="calendar.xhtml"/>
    </c:if>

    <c:if test="#{orderCreationMB.orderItem.service.code eq ServiceEnum.STICKER}">
        <ui:include src="sticker.xhtml"/>
    </c:if>

    <io:panelGrid>
        Комментарий
        <p:inputTextarea value="#{orderCreationMB.orderItem.comment}"
                         autoResize="false"
                         rows="5"
                         cols="45"/>
    </io:panelGrid>

</ui:composition>