<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
>

    <ui:include src="attributes/amount.xhtml"/>

    <ui:include src="attributes/format.xhtml"/>

    <ui:include src="attributes/material.xhtml">
        <ui:param name="link" value="#{orderItem.material}"/>
        <ui:param name="title" value="Материал"/>
    </ui:include>

    <ui:include src="works/oneSidePrint.xhtml"/>

</ui:composition>