<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
>

    <ui:param name="orderItem" value="#{orderCreationMB.orderItem}"/>

    <ui:include src="attributes/amount.xhtml"/>

    <ui:include src="attributes/format.xhtml"/>

    <ui:include src="attributes/material.xhtml">
        <ui:param name="link" value="#{orderItem.material}"/>
        <ui:param name="title" value="Материал"/>
    </ui:include>

    <ui:include src="works/twoSidePrint.xhtml">
        <ui:param name="faceLink" value="#{orderItem.facePrint}"/>
        <ui:param name="backLink" value="#{orderItem.backPrint}"/>
        <ui:param name="service" value="booklet"/>
    </ui:include>

</ui:composition>