<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>

    <ui:param name="orderItem" value="#{orderCreationMB.orderItem}"/>

    <p:fieldset legend="Общее">

        <ui:include src="attributes/amount.xhtml"/>

        <ui:include src="attributes/format.xhtml"/>

    </p:fieldset>

    <p:fieldset legend="Обложка">

        <ui:include src="attributes/material.xhtml">
            <ui:param name="link" value="#{orderItem.coverMaterial}"/>
            <ui:param name="title" value="Материал обложки"/>
        </ui:include>

        <ui:include src="works/twoSidePrint.xhtml">
            <ui:param name="faceLink" value="#{orderItem.coverFacePrint}"/>
            <ui:param name="backLink" value="#{orderItem.coverBackPrint}"/>
            <ui:param name="service" value="brochure_cover"/>
        </ui:include>

    </p:fieldset>

    <p:fieldset legend="Блок">

        <ui:include src="attributes/pageCount.xhtml"/>

        <ui:include src="attributes/material.xhtml">
            <ui:param name="link" value="#{orderItem.blockMaterial}"/>
            <ui:param name="title" value="Материал блока"/>
        </ui:include>

    </p:fieldset>

    <p:fieldset legend="Подложка">

        <ui:include src="attributes/material.xhtml">
            <ui:param name="link" value="#{orderItem.coverBackMaterial}"/>
            <ui:param name="title" value="Материал подложки"/>
        </ui:include>

        <ui:include src="works/twoSidePrint.xhtml">
            <ui:param name="faceLink" value="#{orderItem.coverBackFacePrint}"/>
            <ui:param name="backLink" value="#{orderItem.coverBackBackPrint}"/>
            <ui:param name="service" value="brochure_cover_back"/>
        </ui:include>

    </p:fieldset>

</ui:composition>