<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>

    <ui:param name="serviceType" value="#{subService.type}"/>
    <ui:param name="attributes" value="#{subService.attributes}"/>

    <p:fieldset legend="Параметры - #{subService.type eq 'ROOT' ? 'общее' : subService.name}"
                rendered="#{not empty attributes}">

        <ui:repeat value="#{attributes.toArray()}" var="attribute">

            <ui:include src="attributes/amount.xhtml">
                <ui:param name="attribute" value="#{attribute}"/>
                <ui:param name="orderItem" value="#{orderItem}"/>
            </ui:include>

            <ui:include src="attributes/format.xhtml">
                <ui:param name="attribute" value="#{attribute}"/>
                <ui:param name="orderItem" value="#{orderItem}"/>
            </ui:include>

            <!-- количество страниц -->
            <ui:include src="attributes/pageCount.xhtml">
                <ui:param name="attribute" value="#{attribute}"/>
                <ui:param name="orderItem" value="#{orderItem}"/>
            </ui:include>

            <ui:include src="attributes/material.xhtml">
                <ui:param name="attribute" value="#{attribute}"/>
                <ui:param name="orderItem" value="#{orderItem}"/>
                <ui:param name="subService" value="#{subService}"/>
            </ui:include>

        </ui:repeat>

    </p:fieldset>

</ui:composition>