<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>

    <ui:param name="serviceType" value="#{subService.type}"/>
    <ui:param name="works" value="#{subService.workSet}"/>

    <p:fieldset legend="Работы - #{subService.type eq 'ROOT' ? 'общее' : subService.name}"
                rendered="#{not empty works}">

        <ui:repeat value="#{works.toArray()}" var="work">

            <p:outputPanel rendered="#{work.code eq 'print'}">

                <p:outputPanel rendered="#{subService.type eq 'ROOT'}">
                    <ui:include src="works/printWork.xhtml">
                        <ui:param name="subService" value="#{subService}"/>
                        <ui:param name="facePrintWork" value="#{orderItem.facePrint}"/>
                        <ui:param name="backPrintWork" value="#{orderItem.backPrint}"/>
                    </ui:include>
                </p:outputPanel>

            </p:outputPanel>

        </ui:repeat>

    </p:fieldset>

</ui:composition>