<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"

>

    <!-- note: don't forhet to wrap with form -->
    <p:panel header="Материал" style="padding: 0">
        <f:facet name="actions">
            <p:commandButton id="moreButton"
                             type="button"
                             value="подробнее"
                             styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"/>
        </f:facet>

        <p:overlayPanel for="moreButton">
            <p:dataTable value="#{orderCreationMB.orderDataAggregator.preferableMaterials}"
                         reflow="true"
                         var="material"
                         sortBy="#{material.totalWaste}"
                         style="width: 700px;"
                         id="preferableMaterialOverlay">

                <p:column headerText="Материал">
                    #{material.material.name}
                </p:column>

                <p:column headerText="Ширина листа">
                    #{material.material.width}
                </p:column>

                <p:column headerText="Высота листа">
                    #{material.material.height}
                </p:column>

                <p:column headerText="Ориентация">
                    <h:outputText value="#{material.itemOrientation.name}"/>
                </p:column>

                <p:column headerText="Количество листов">
                    #{material.listsToPrintCount}
                </p:column>

                <p:column headerText="Изделий на лист">
                    #{material.itemsPerList}
                </p:column>

                <p:column headerText="Отходы, %" sortBy="#{material.totalWaste}">
                    #{material.totalWaste}
                </p:column>

            </p:dataTable>
        </p:overlayPanel>

        <p:panelGrid columns="2" id="preferableMaterial" style="width: 290px;">
            <f:facet name="header">
                <h:outputText value="#{orderCreationMB.orderDataAggregator.preferableMaterial.material}"/>
            </f:facet>

            <h:outputText value="Ширина листа"/>
            #{orderCreationMB.orderDataAggregator.preferableMaterial.material.width}

            <h:outputText value="Высота листа"/>
            #{orderCreationMB.orderDataAggregator.preferableMaterial.material.height}

            <h:outputText value="Ориентация"
                          rendered="#{orderCreationMB.orderDataAggregator.preferableMaterial.itemOrientation.name ne null}"/>
            <h:outputText value="#{orderCreationMB.orderDataAggregator.preferableMaterial.itemOrientation.name}"
                          rendered="#{orderCreationMB.orderDataAggregator.preferableMaterial.itemOrientation.name ne null}"/>

            <h:outputText value="Количество листов"/>
            #{orderCreationMB.orderDataAggregator.preferableMaterial.listsToPrintCount}

            <h:outputText value="Изделий на лист"/>
            #{orderCreationMB.orderDataAggregator.preferableMaterial.itemsPerList}

            <h:outputText value="Отходы, %"/>
            <b>#{orderCreationMB.orderDataAggregator.preferableMaterial.totalWaste}</b>

        </p:panelGrid>
    </p:panel>

</ui:composition>