<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
>

    <ui:include src="attributes/amount.xhtml"/>

    <ui:include src="attributes/format.xhtml"/>

    <ui:include src="attributes/material.xhtml">
        <ui:param name="link" value="#{orderCreationMB.orderItem.material}"/>
        <ui:param name="title" value="Материал"/>
    </ui:include>

    <ui:include src="works/twoSidePrint.xhtml">
        <ui:param name="faceLink" value="#{orderCreationMB.orderItem.facePrint}"/>
        <ui:param name="backLink" value="#{orderCreationMB.orderItem.backPrint}"/>
        <ui:param name="service" value="visiting_card"/>
    </ui:include>

    <ui:include src="works/lamination.xhtml"/>

</ui:composition>