<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://iozee.ru/spring/security/tags"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface/>

<composite:implementation>

    <p:outputPanel rendered="#{sec:isManager()}" style="display: inline; padding: 0; margin: 0">
        <composite:insertChildren/>
    </p:outputPanel>

</composite:implementation>

</html>