<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>

    <h:panelGrid columns="3"
                 columnClasses="myColumn myColumn myColumn">

        Ламинация *

        <p:selectOneMenu value="#{orderCreationMB.orderItem.lamination.lamination}"
                         converter="#{laminationConverter}"
                         label="Ламинация">
            <f:selectItem itemLabel="без ламинации" itemValue="#{null}"/>
            <f:selectItems value="#{orderCreationMB.allLaminations}"
                           var="lamination"
                           itemLabel="#{lamination.name}"
                           itemValue="#{lamination}">
            </f:selectItems>
            <p:ajax event="change"
                    update=":orderItemForm:orderItemTable:laminationType
                            :orderItemAddForm:laminationType"
                    process="@this"
                    partialSubmit="true"/>
        </p:selectOneMenu>

        <p:outputPanel id="laminationType">

            <p:selectOneListbox value="#{orderCreationMB.orderItem.lamination.bothSide}"
                                rendered="#{not empty orderCreationMB.orderItem.lamination.lamination}"
                                required="true"
                                label="Ламинация: односторонняяя или двусторонняя">
                <f:selectItem itemLabel="выберите тип" itemValue="#{null}" itemDisabled="true"/>
                <f:selectItem itemLabel="двусторонняя" itemValue="#{true}"/>
                <f:selectItem itemLabel="односторонняя" itemValue="#{false}"/>
            </p:selectOneListbox>

        </p:outputPanel>

    </h:panelGrid>

</ui:composition>