<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:o="http://omnifaces.org/ui"
        xmlns:io="http://java.sun.com/jsf/composite/iozee">

    <o:importConstants type="com.iozee.printadmin.enums.PrintOptionEnum"/>

    <io:panelGrid columns="3">

        Печать *

        <p:selectOneMenu value="#{orderCreationMB.orderItem.print.printOption}"
                         required="true">
            <f:selectItem itemLabel="#{PrintOptionEnum.NO_PRINT.name}" itemValue="#{PrintOptionEnum.NO_PRINT}"/>
            <f:selectItem itemLabel="#{PrintOptionEnum.FULL_COLOR.name}" itemValue="#{PrintOptionEnum.FULL_COLOR}"/>
            <f:selectItem itemLabel="#{PrintOptionEnum.B_W.name}" itemValue="#{PrintOptionEnum.B_W}"/>
            <f:selectItem itemLabel="#{PrintOptionEnum.CMYK.name}" itemValue="#{PrintOptionEnum.CMYK}"/>
            <p:ajax event="change"
                    update="@(.faceCmyk_#{service})"
                    process="@this"
                    partialSubmit="true"/>
        </p:selectOneMenu>

        <p:outputPanel styleClass="faceCmyk_#{service}">
            <p:selectManyButton
                    value="#{orderCreationMB.orderItem.print.cmyk}"
                    required="true"
                    label="Цветность - лицевая сторона"
                    rendered="#{not empty orderCreationMB.orderItem.print.printOption and orderCreationMB.orderItem.print.printOption.name() eq 'CMYK'}">
                <f:selectItem itemLabel="C" itemValue="c"/>
                <f:selectItem itemLabel="M" itemValue="m"/>
                <f:selectItem itemLabel="Y" itemValue="y"/>
                <f:selectItem itemLabel="K" itemValue="k"/>
            </p:selectManyButton>
        </p:outputPanel>

    </io:panelGrid>

</ui:composition>