<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:o="http://omnifaces.org/ui"
        xmlns:io="http://java.sun.com/jsf/composite/iozee">

    <o:importConstants type="com.iozee.printadmin.enums.PrintOptionEnum"/>

    <io:panelGrid columns="3">

        Печать - лицевая сторона *

        <p:selectOneMenu value="#{faceLink.printOption}"
                         required="true">
            <f:selectItem itemLabel="#{PrintOptionEnum.NO_PRINT.name}" itemValue="#{PrintOptionEnum.NO_PRINT}"/>
            <f:selectItem itemLabel="#{PrintOptionEnum.FULL_COLOR.name}" itemValue="#{PrintOptionEnum.FULL_COLOR}"/>
            <f:selectItem itemLabel="#{PrintOptionEnum.B_W.name}" itemValue="#{PrintOptionEnum.B_W}"/>
            <f:selectItem itemLabel="#{PrintOptionEnum.CMYK.name}" itemValue="#{PrintOptionEnum.CMYK}"/>
            <p:ajax event="change"
                    update="@(.faceCmyk_#{service})"
                    process="@this"
                    partialSubmit="true"/>
        </p:selectOneMenu>

        <p:outputPanel styleClass="faceCmyk_#{service}">
            <p:selectManyButton
                    value="#{faceLink.cmyk}"
                    required="true"
                    label="Цветность - лицевая сторона"
                    rendered="#{not empty faceLink.printOption and faceLink.printOption.name() eq 'CMYK'}">
                <f:selectItem itemLabel="C" itemValue="c"/>
                <f:selectItem itemLabel="M" itemValue="m"/>
                <f:selectItem itemLabel="Y" itemValue="y"/>
                <f:selectItem itemLabel="K" itemValue="k"/>
            </p:selectManyButton>
        </p:outputPanel>

        Печать - оборотная сторона *

        <p:selectOneMenu value="#{backLink.printOption}"
                         required="true">
            <f:selectItem itemLabel="#{PrintOptionEnum.NO_PRINT.name}" itemValue="#{PrintOptionEnum.NO_PRINT}"/>
            <f:selectItem itemLabel="#{PrintOptionEnum.FULL_COLOR.name}" itemValue="#{PrintOptionEnum.FULL_COLOR}"/>
            <f:selectItem itemLabel="#{PrintOptionEnum.B_W.name}" itemValue="#{PrintOptionEnum.B_W}"/>
            <f:selectItem itemLabel="#{PrintOptionEnum.CMYK.name}" itemValue="#{PrintOptionEnum.CMYK}"/>
            <p:ajax event="change"
                    update="@(.backCmyk_#{service})"
                    process="@this"
                    partialSubmit="true"/>
        </p:selectOneMenu>

        <p:outputPanel styleClass="backCmyk_#{service}">
            <p:selectManyButton
                    value="#{backLink.cmyk}"
                    required="true"
                    label="Цветность - оборотная сторона"
                    rendered="#{not empty backLink.printOption and backLink.printOption.name() eq 'CMYK'}">
                <f:selectItem itemLabel="C" itemValue="c"/>
                <f:selectItem itemLabel="M" itemValue="m"/>
                <f:selectItem itemLabel="Y" itemValue="y"/>
                <f:selectItem itemLabel="K" itemValue="k"/>
            </p:selectManyButton>
        </p:outputPanel>

    </io:panelGrid>

</ui:composition>