<ui:composition template="/WEB-INF/templates/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
>
    <ui:define name="title">boneCP log</ui:define>
    <ui:define name="content">

        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css"/>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
        <script>
            $(document).ready(function () {

                hljs.configure({useBR: true});

                $('div.code').each(function (i, block) {
                    hljs.highlightBlock(block);
                });
            });
        </script>

        <h:form>
            <p:outputPanel id="logPanel">
                <p:panel>
                    <f:facet name="header">
                        <p:commandButton value="refresh"
                                         icon="ui-icon-arrowrefresh-1-e"
                                         action="#{logMB.updateLog}"
                                         update="logPanel"/>
                        <p:commandButton value="clear"
                                         icon="ui-icon-trash"
                                         action="#{logMB.clearLog}"
                                         update="logPanel"/>

                        new log entries: #{logMB.newEntryCount}
                    </f:facet>

                    <ui:repeat var="o" value="#{logMB.logList}">
                        <p:panel styleClass="code sql">
                            ${o}
                        </p:panel>
                    </ui:repeat>
                </p:panel>
            </p:outputPanel>
        </h:form>

    </ui:define>
</ui:composition>