<ui:composition template="/WEB-INF/templates/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
>
    <ui:define name="title">Клиенты</ui:define>
    <ui:define name="content">

        <ui:include src="/WEB-INF/templates/bunches/clientsBunch.xhtml"/>

    </ui:define>
</ui:composition>