<!DOCTYPE html [
        <!ENTITY nbsp "&#160;">
        ]>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
>
<head>
    <title>PrintAdmin</title>
</head>
<body>
<h:form>
    <p:panel>
        Ошибка <h:outputText value="#{userMB.getErrorCode()}" rendered="#{not empty userMB.getErrorCode()}"/>
        <br/>
        <br/>
        <p:commandButton value="На главную"
                         action="index?faces-redirect=true"
                         icon="ui-icon-home"
                         ajax="false"/>
    </p:panel>
</h:form>
</body>
</html>