<ui:composition template="/WEB-INF/templates/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">
    <ui:define name="title">PrintAdmin</ui:define>
    <ui:define name="content">

        <p:outputPanel id="mainContent" layout="block">
            <ui:include src="/WEB-INF/templates/bunches/#{state.page}Bunch.xhtml"/>
        </p:outputPanel>

        <pe:blockUI widgetVar="mainContentBlock" target="mainContent">
            <p:graphicImage library="images" name="ajaxloader/gray.gif"/>
        </pe:blockUI>

    </ui:define>
</ui:composition>