<ui:composition template="/WEB-INF/templates/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
>
    <ui:define name="title">PrintAdmin - авторизация</ui:define>
    <ui:define name="content">

        <h:form>
            <p:growl id="growl" showDetail="true" showSummary="false" life="3800" autoUpdate="true"/>
        </h:form>

        <h:outputScript target="head">
            window.onpageshow = function (event) {
                if (event.persisted) {
                    PF('blockUI').hide();
                }
            };
        </h:outputScript>

        <h:form id="loginForm" prependId="false">

            <p:blockUI block=":loginForm:loginDialog" widgetVar="blockUI">
                <p:graphicImage library="images" name="ajaxloader/gray.gif"/>
            </p:blockUI>

            <p:dialog header="Войти в систему"
                      id="loginDialog"
                      resizable="false"
                      dynamic="false"
                      visible="true"
                      widgetVar="loginDialog"
                      modal="true"
                      closable="false"
                      width="260"
                      height="115"
                      draggable="false">

                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputLabel for="username" value="логин:"/>
                    <p:inputText name="username" id="username" required="true" label="username"/>
                    <h:outputLabel for="password" value="пароль:"/>
                    <p:password name="password" id="password" required="true" label="password"/>
                </h:panelGrid>

                <div class="formControlsBottom">

                    <button type="submit"
                            id="submitButton"
                            onclick="PF('blockUI').show();
                                     document.getElementById('loginForm').action='login';
                                     document.getElementById('loginForm').submit();"
                            class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                            role="button"
                            aria-disabled="false">
                        <span class="ui-button-text ui-c">
                            Вход
                        </span>
                    </button>

                </div>

            </p:dialog>

        </h:form>

    </ui:define>
</ui:composition>