<ui:composition template="/WEB-INF/templates/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Настройки</ui:define>
    <ui:define name="content">
        <h:form id="settingsForm">

            <o:importConstants type="com.iozee.printadmin.security.RolesEnum" var="Roles"/>

            <h:panelGrid columns="2" style="vertical-align: top" width="100%">
                <p:menu>
                    <p:menuitem value="Статусы заказа" icon="ui-icon-disk"/>
                </p:menu>
                <p:outputPanel>
                    <p:tree value="#{orderWorflowMB.root}"
                            var="node"
                            orientation="horizontal"
                            selectionMode="single"
                            selection="#{orderWorflowMB.selectedNode}">
                        <p:ajax event="select"
                                listener="#{orderWorflowMB.onNodeSelect}"
                                process="@this"
                                partialSubmit="true"
                                update=":settingsForm:statusPanel"/>
                        <p:treeNode>
                            <h:outputText value="#{node}"/>
                        </p:treeNode>
                    </p:tree>
                    <p:outputPanel id="statusPanel">
                        #{orderWorflowMB.selectedNode.data}
                    </p:outputPanel>
                </p:outputPanel>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>